@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

#title {
    font-family: "Tauri", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
}

.navLink {
    text-decoration: none;
    margin-inline: 1em;
}

.navbar-nav {
    margin-left: auto;
}